 .u-section-1 {
  background-image: url("images/bnbnn.jpg");
  background-position: 50% 50%;
  min-height: 660px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 660px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/x5.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 660px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-1 .u-line-1 {
  width: 111px;
  height: 6px;
  transform-origin: left center;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 5rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  font-size: 1rem;
  font-style: normal;
  margin: 23px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: none;
  background-image: none;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 577px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-image-1 {
    background-position: 100% 50%;
    min-height: 577px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 577px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 320px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-image-1 {
    background-position: 26.97% 50%;
    min-height: 677px;
    order: 1;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 60px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.0625rem;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 547px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-image-1 {
    background-position: 100% 50%;
    min-height: 505px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 912px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 390px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 582px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
  }
} .u-section-2 {
  background-image: linear-gradient(to right, #c5c9f9, #fee7ef);
}

.u-section-2 .u-sheet-1 {
  min-height: 450px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 280px;
  margin: 19px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 28px 0 27px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 16.5px));
  min-height: 323px;
  grid-gap: 22px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 15px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 29px;
}

.u-section-2 .u-group-1 {
  min-height: 50px;
  width: 50px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 20px 1px 0 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 15px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 29px;
}

.u-section-2 .u-group-2 {
  min-height: 50px;
  width: 50px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 20px 1px 0 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 15px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 30px 29px;
}

.u-section-2 .u-group-3 {
  min-height: 50px;
  width: 50px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 20px 1px 0 0;
}

.u-section-2 .u-text-10 {
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 15px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 30px 29px;
}

.u-section-2 .u-group-4 {
  min-height: 50px;
  width: 50px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  margin: 20px 1px 0 0;
}

.u-section-2 .u-text-13 {
  font-style: italic;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 314px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 938px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 697px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    margin-top: 110px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-11 {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1283px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 14px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 874px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 29px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 29px;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 641px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2367px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 17px;
    margin-right: 12px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 488px;
}

.u-section-4 .u-shape-1 {
  height: 487px;
  background-image: linear-gradient(to right, #c5c9f9, #fee7ef);
  margin: 1px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: -451px auto 37px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 416px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: none;
  background-image: none;
  margin: 30px auto 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 416px;
  background-image: url("images/x10.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 487px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-bottom: 30px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 343px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    min-height: 343px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 747px;
  }

  .u-section-4 .u-shape-1 {
    height: 422px;
    margin-top: 343px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -765px;
    margin-bottom: 1px;
    margin-left: calc(((100% - 720px) / 2)  + -11px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 344px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 35px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 27px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 23px;
  }

  .u-section-4 .u-image-1 {
    min-height: 459px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1377px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-1 {
    min-height: 344px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 755px;
  }

  .u-section-4 .u-shape-1 {
    height: 419px;
    margin-top: 335px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -754px;
    margin-left: auto;
    margin-bottom: -59px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 469px;
  }

  .u-section-4 .u-image-1 {
    min-height: 306px;
  }
} .u-section-5 {
  background-image: linear-gradient(to right, #fee7ef, #c5c9f9);
}

.u-section-5 .u-sheet-1 {
  min-height: 1257px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 520px;
  margin: 16px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 34px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 18px));
  min-height: 1054px;
  grid-gap: 27px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 15px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px 30px 30px;
}

.u-section-5 .u-image-1 {
  height: 284px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  font-weight: 900;
  font-size: 1.375rem;
  text-transform: uppercase;
  margin: 10px auto 0;
}

.u-section-5 .u-text-3 {
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 15px;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px 30px 30px;
}

.u-section-5 .u-image-2 {
  height: 284px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-4 {
  font-weight: 900;
  font-size: 1.375rem;
  text-transform: uppercase;
  margin: 10px auto 0;
}

.u-section-5 .u-text-5 {
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 15px;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px 30px 30px;
}

.u-section-5 .u-image-3 {
  height: 284px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-6 {
  font-weight: 900;
  font-size: 1.375rem;
  text-transform: uppercase;
  margin: 10px auto 0;
}

.u-section-5 .u-text-7 {
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 15px;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px 30px 30px;
}

.u-section-5 .u-image-4 {
  height: 284px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-8 {
  font-weight: 900;
  font-size: 1.375rem;
  text-transform: uppercase;
  margin: 10px auto 0;
}

.u-section-5 .u-text-9 {
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-5 .u-list-item-5 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 15px;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px 30px 30px;
}

.u-section-5 .u-image-5 {
  height: 284px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-10 {
  font-weight: 900;
  font-size: 1.375rem;
  text-transform: uppercase;
  margin: 10px auto 0;
}

.u-section-5 .u-text-11 {
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-5 .u-list-item-6 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 15px;
}

.u-section-5 .u-container-layout-6 {
  padding: 10px 30px 30px;
}

.u-section-5 .u-image-6 {
  height: 284px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-12 {
  font-weight: 900;
  font-size: 1.375rem;
  text-transform: uppercase;
  margin: 10px auto 0;
}

.u-section-5 .u-text-13 {
  font-size: 1rem;
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1325px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 18px));
    min-height: 869px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-1 {
    height: 225px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-2 {
    height: 225px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-3 {
    height: 225px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-4 {
    height: 225px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-5 {
    height: 225px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-6 {
    height: 225px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1663px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 29px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 18px;
    margin-bottom: 59px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
    min-height: 1498px;
  }

  .u-section-5 .u-image-1 {
    height: 263px;
  }

  .u-section-5 .u-image-2 {
    height: 263px;
  }

  .u-section-5 .u-image-3 {
    height: 263px;
  }

  .u-section-5 .u-image-4 {
    height: 263px;
  }

  .u-section-5 .u-image-5 {
    height: 263px;
  }

  .u-section-5 .u-image-6 {
    height: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    height: 427px;
  }

  .u-section-5 .u-image-2 {
    height: 427px;
  }

  .u-section-5 .u-image-3 {
    height: 427px;
  }

  .u-section-5 .u-image-4 {
    height: 427px;
  }

  .u-section-5 .u-image-5 {
    height: 427px;
  }

  .u-section-5 .u-image-6 {
    height: 427px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3132px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 273px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 273px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 273px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    height: 273px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-5 {
    height: 273px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-6 {
    height: 273px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 909px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 354px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-btn-1 {
  margin: 15px auto 0;
  padding: 10px 57px 10px 56px;
}

.u-section-6 .u-layout-wrap-2 {
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 239px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 30px 20px;
}

.u-section-6 .u-text-2 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.5rem;
  margin: 40px 0 0;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 237px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 136px;
  min-width: 88px;
  margin: 23px auto 0 0;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-6 .u-text-5 {
  font-size: 1.25rem;
  margin: 32px 0 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-layout-cell-4 {
  background-image: none;
  min-height: 476px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-6 .u-form-1 {
  height: 334px;
  margin: 32px -60px 0 0;
}

.u-section-6 .u-form-group-4 {
  margin-left: 0;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 292px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 197px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 195px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 392px;
  }

  .u-section-6 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.875rem;
  }
}