 .u-section-1 {
  background-image: url("images/pexels-photo-301930.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 688px;
}

.u-section-1 .u-group-1 {
  width: 853px;
  min-height: 528px;
  background-image: none;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 79px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-line-1 {
  width: 388px;
  transform-origin: left center;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  width: 454px;
  margin: 69px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 23px 27px 0;
}

.u-section-1 .u-line-2 {
  width: 388px;
  transform-origin: left center;
  margin: 43px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 205px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    width: 320px;
  }

  .u-section-1 .u-text-1 {
    width: 320px;
  }

  .u-section-1 .u-line-2 {
    width: 320px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 840px;
}

.u-section-2 .u-text-1 {
  width: 566px;
  font-size: 3rem;
  margin: 71px auto 0;
}

.u-section-2 .u-text-2 {
  width: 837px;
  margin: 25px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
  margin-top: 43px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 340px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 15px 30px 9px;
}

.u-section-2 .u-group-1 {
  width: 336px;
  min-height: 336px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 77px;
  width: 77px;
  text-shadow: 0 0px 0 rgba(0,0,0,0);
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-2 .u-text-4 {
  font-style: normal;
  margin: 40px 5px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 15px 30px 9px;
}

.u-section-2 .u-group-2 {
  width: 336px;
  min-height: 336px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 77px;
  width: 77px;
  text-shadow: 0 0px 0 rgba(0,0,0,0);
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-2 .u-text-5 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-2 .u-text-6 {
  font-style: normal;
  margin: 40px 5px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 280px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1183px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 61px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
    margin-top: 33px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1197px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -224px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1194px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 18px;
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 778px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-2 .u-group-1 {
    min-height: 321px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 8px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-2 .u-group-2 {
    min-height: 321px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.25rem;
  }
} .u-section-3 {
  min-height: 787px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-style: normal;
  text-align: left;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-shape-1 {
  height: 248px;
  margin-top: 112px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin: -332px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 540px;
  grid-gap: 20px;
}

.u-section-3 .u-list-item-1 {
  background-image: linear-gradient(white, #f2f2f2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-3 .u-text-5 {
  font-style: normal;
  font-weight: 400;
  margin: 23px 0 0;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 20px auto 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-list-item-2 {
  background-image: linear-gradient(white, #f2f2f2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-3 .u-text-8 {
  font-style: normal;
  font-weight: 400;
  margin: 23px 0 0;
}

.u-section-3 .u-social-icons-2 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 20px auto 0;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

.u-section-3 .u-icon-5 {
  height: 100%;
}

.u-section-3 .u-icon-6 {
  height: 100%;
}

.u-section-3 .u-list-item-3 {
  background-image: linear-gradient(white, #f2f2f2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 240px;
  height: 240px;
  object-position: 50% 94.17%;
  margin: 0 auto;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-3 .u-text-11 {
  font-style: normal;
  font-weight: 400;
  margin: 23px 0 0;
}

.u-section-3 .u-social-icons-3 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 20px auto 0;
}

.u-section-3 .u-icon-7 {
  height: 100%;
}

.u-section-3 .u-icon-8 {
  height: 100%;
}

.u-section-3 .u-icon-9 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    border-style: solid;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 439px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 1009px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1818px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 21px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.25rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 638px;
}

.u-section-4 .u-group-1 {
  min-height: 498px;
  background-image: none;
  width: 1007px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 70px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 auto;
  padding: 10px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  width: 507px;
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  margin: 44px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 48px 76px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-4 .u-text-3 {
    margin-left: 43px;
    margin-right: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 30px 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: 320px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 987px;
  margin-bottom: 0;
}

.u-section-5 .u-gallery-1 {
  height: 735px;
  width: 874px;
  margin: 60px auto 0;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 20px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-group-1 {
  width: 400px;
  min-height: 157px;
  height: auto;
  margin: -446px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 17px;
}

.u-section-5 .u-text-2 {
  width: 682px;
  margin: 319px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2683px;
  }

  .u-section-5 .u-gallery-1 {
    height: 2422px;
    width: 720px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-group-1 {
    margin-top: -1902px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 1784px;
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2104px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1817px;
    width: 540px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -987px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    margin-top: 869px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1478px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1144px;
    width: 340px;
  }

  .u-section-5 .u-group-1 {
    min-height: 130px;
    margin-top: -637px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-2 {
    margin-top: 516px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 710px;
}

.u-section-6 .u-group-1 {
  width: 436px;
  min-height: 436px;
  height: auto;
  margin: 137px auto 0 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 15px;
}

.u-section-6 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 52px 30px 0;
}

.u-section-6 .u-text-2 {
  margin: 39px 0 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-6 .u-image-1 {
  width: 570px;
  height: 570px;
  background-image: url("images/pexels-rene-asmussen-325685.jpg");
  background-position: 50% 50%;
  margin: -503px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 943px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 70px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -203px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1013px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -17px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1138px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 60px;
    margin-left: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 42px;
    height: 540px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-6 .u-group-1 {
    min-height: 340px;
    margin-top: 59px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-image-1 {
    height: 340px;
    margin-top: 43px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 852px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 816px;
  margin: 70px auto 0;
}

.u-section-7 .u-list-1 {
  width: 570px;
  height: auto;
  margin: 12px auto 0 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 406px;
  grid-gap: 30px;
}

.u-section-7 .u-list-item-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-1 {
  padding: 8px 20px;
}

.u-section-7 .u-icon-1 {
  width: 120px;
  height: 120px;
  background-image: none;
  margin: 22px 0 0 auto;
  padding: 27px;
}

.u-section-7 .u-text-2 {
  margin: -111px 150px 0 0;
}

.u-section-7 .u-list-item-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-2 {
  padding: 8px 20px;
}

.u-section-7 .u-icon-2 {
  width: 120px;
  height: 120px;
  background-image: none;
  margin: 22px 0 0 auto;
  padding: 27px;
}

.u-section-7 .u-text-3 {
  margin: -111px 150px 0 0;
}

.u-section-7 .u-list-2 {
  width: 570px;
  margin: -218px auto -38px 570px;
}

.u-section-7 .u-repeater-2 {
  grid-template-columns: repeat(1, 100%);
  min-height: 406px;
  grid-gap: 30px;
}

.u-section-7 .u-list-item-3 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-3 {
  padding: 8px 20px;
}

.u-section-7 .u-icon-3 {
  width: 120px;
  height: 120px;
  background-image: none;
  margin: 22px auto 0 0;
  padding: 27px;
}

.u-section-7 .u-text-4 {
  margin: -107px 0 0 150px;
}

.u-section-7 .u-list-item-4 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-4 {
  padding: 8px 20px;
}

.u-section-7 .u-icon-4 {
  width: 120px;
  height: 120px;
  background-image: none;
  margin: 22px auto 0 0;
  padding: 27px;
}

.u-section-7 .u-text-5 {
  margin: -107px 0 0 150px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-7 .u-text-1 {
    width: 570px;
  }

  .u-section-7 .u-list-1 {
    margin-left: auto;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-list-2 {
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: 70px;
  }

  .u-section-7 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-list-2 {
    margin-bottom: -38px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-7 .u-text-1 {
    width: 540px;
    font-size: 1.875rem;
    margin-top: 30px;
  }

  .u-section-7 .u-list-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 140px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 140px;
  }

  .u-section-7 .u-list-2 {
    width: 540px;
    margin-bottom: 40px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 140px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 140px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1172px;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-7 .u-list-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-7 .u-list-2 {
    width: 340px;
    margin-bottom: 70px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-7 .u-text-5 {
    margin-top: 20px;
    margin-left: 0;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 453px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 780px;
  margin: 92px auto 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 49px auto 60px;
  padding: 16px 51px 16px 49px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 361px;
  }

  .u-section-8 .u-btn-1 {
    border-style: solid;
    margin-bottom: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 55px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-bottom: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 75px;
  }

  .u-section-8 .u-btn-1 {
    margin-bottom: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 40px;
    font-size: 1.5rem;
  }

  .u-section-8 .u-btn-1 {
    margin-bottom: 40px;
  }
} .u-section-9 {
  min-height: 613px;
  background-image: none;
}

.u-section-9 .u-shape-1 {
  height: 132px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-9 .u-list-1 {
  width: 748px;
  margin: -91px auto 60px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 20px));
  min-height: 511px;
  grid-gap: 40px;
}

.u-section-9 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-9 .u-group-1 {
  min-height: 232px;
  margin-top: -1px;
  margin-bottom: 0;
  height: auto;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 32px auto 0;
}

.u-section-9 .u-text-3 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-9 .u-text-4 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  width: 103px;
  margin: 21px auto 0;
}

.u-section-9 .u-btn-1 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  margin: 32px auto 0;
  padding: 19px 41px 20px 40px;
}

.u-section-9 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-9 .u-group-2 {
  min-height: 232px;
  margin-top: -1px;
  margin-bottom: 0;
  height: auto;
}

.u-section-9 .u-container-layout-4 {
  padding: 30px;
}

.u-section-9 .u-text-5 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-9 .u-text-6 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 32px auto 0;
}

.u-section-9 .u-text-7 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-9 .u-text-8 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  width: 103px;
  margin: 21px auto 0;
}

.u-section-9 .u-btn-2 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  margin: 32px auto 0;
  padding: 19px 41px 20px 40px;
}

@media (max-width: 1199px) {
   .u-section-9 {
    min-height: 666px;
  }

  .u-section-9 .u-list-1 {
    margin-top: -37px;
    margin-bottom: -527px;
  }

  .u-section-9 .u-group-1 {
    height: auto;
  }

  .u-section-9 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 1109px;
  }

  .u-section-9 .u-list-1 {
    width: 720px;
    margin-top: -144px;
    margin-bottom: -1296px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1061px;
  }
}

@media (max-width: 767px) {
   .u-section-9 {
    min-height: 1137px;
  }

  .u-section-9 .u-shape-1 {
    height: 117px;
  }

  .u-section-9 .u-list-1 {
    width: 540px;
    margin-top: -101px;
    margin-bottom: -438px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-9 {
    min-height: 1111px;
  }

  .u-section-9 .u-list-1 {
    width: 340px;
    margin-top: -127px;
    margin-bottom: -1350px;
  }
}